In [2]:
import pandas as pd

In [3]:
table=pd.read_csv('Przystanki_Komunikacji_Miejskiej_w_Krakowie_8361a81c0b134c8c930deda3c59bd28a.csv')
table

,OBJECTID,Kod BusMan,Nazwa przystanku z numerem,Typ przystanku,Rodzaj przystanku,Przystanek podwójny,Na żądanie,Geometria przystanku,Nawierzchnia miejsca zatrzymania,Nawierzchnia peronu,...,Liczba wiat,EditDate,Editor,Skrzynka rozkładowa,Obowiązuje od,Obowiązuje do,Strefa Biletowa,Ławki inne poza wiatą,x,y
0,59,116-04,Gałczyńskiego 04,A,przelotowy,nie,nie,zatoka,beton,kostka,...,1,12/17/2024 1:26:04 PM,lodzinskij,0,NaN,NaN,I,0.0,2.227776e+06,6.458201e+06
1,94,448-03,Kuźnicy Kołłątajowskiej 03,A,przelotowy,nie,nie,jezdnia,asfalt,kostka,...,0,7/28/2025 10:20:31 AM,lodzinskij,1,NaN,NaN,I,0.0,2.221669e+06,6.463310e+06
2,95,448-04,Kuźnicy Kołłątajowskiej 04,A,przelotowy,nie,nie,jezdnia,asfalt,płyty_chodnikowe,...,0,7/28/2025 10:20:31 AM,lodzinskij,1,NaN,NaN,I,0.0,2.221804e+06,6.463343e+06
3,141,412-02,Pielęgniarek 02,A,przelotowy,nie,nie,zatoka,kostka,kostka,...,1,7/31/2025 2:04:06 PM,lodzinskij,4,NaN,NaN,I,0.0,2.219350e+06,6.460743e+06
4,144,127-04,Morcinka 04,A,przelotowy,nie,tak,jezdnia,asfalt,asfalt,...,1,7/14/2025 11:54:39 AM,lodzinskij,0,NaN,NaN,I,0.0,2.234396e+06,6.464313e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3757,7897,2519-71,Rybna Kościół,tymA,końcówka,nie,nie,NaN,NaN,NaN,...,0,10/1/2025 7:27:29 AM,filipk_1,0,10/5/2025 10:00:00 PM,NaN,II,NaN,2.187095e+06,6.454810e+06
3758,7898,2436-71,Wola Radziszowska Chorzyny,tymA,przelotowy,nie,tak,NaN,NaN,NaN,...,0,10/1/2025 7:26:40 AM,filipk_1,0,10/5/2025 10:00:00 PM,NaN,II,NaN,2.201445e+06,6.429627e+06
3759,7899,866-02,Rondo Barei 02,tymA,przelotowy,nie,nie,NaN,NaN,NaN,...,0,10/1/2025 12:26:11 PM,filipk_1,0,10/3/2025 10:00:00 PM,NaN,I,NaN,2.223608e+06,6.461721e+06
3760,7900,866-73,Rondo Barei 03,tymA,przelotowy,tak,nie,NaN,NaN,NaN,...,0,10/1/2025 10:38:01 AM,filipk_1,0,10/3/2025 10:00:00 PM,NaN,I,NaN,2.223395e+06,6.461605e+06
3761,7901,863-72,Olsza II 72,tymA,przelotowy,nie,nie,NaN,NaN,NaN,...,0,10/1/2025 9:27:44 AM,filipk_1,0,10/3/2025 10:00:00 PM,NaN,I,NaN,2.223235e+06,6.461127e+06

In [4]:
list_of_id_idstops=table[['Kod BusMan','Nazwa przystanku z numerem','Typ przystanku']]
list_of_id_idstops

     Kod BusMan  Nazwa przystanku z numerem Typ przystanku
0        116-04            Gałczyńskiego 04              A
1        448-03  Kuźnicy Kołłątajowskiej 03              A
2        448-04  Kuźnicy Kołłątajowskiej 04              A
3        412-02             Pielęgniarek 02              A
4        127-04                 Morcinka 04              A
...         ...                         ...            ...
3757    2519-71               Rybna Kościół           tymA
3758    2436-71  Wola Radziszowska Chorzyny           tymA
3759     866-02              Rondo Barei 02           tymA
3760     866-73              Rondo Barei 03           tymA
3761     863-72                 Olsza II 72           tymA

[3762 rows x 3 columns]

In [5]:
table=pd.read_csv("report_07-31.csv")

In [6]:
table

,index,time_stamp,stop,stopName,number,direction,plannedTime,vehicleId,tripId,status,delay,seq_num
0,7,2018-07-31 04:07:33,459,Kombinat,4,Bronowice Małe,2018-07-31 04:07:00,6.352185e+18,6351558574044455170,STOPPING,0,7.0
1,14,2018-07-31 04:13:24,423,Struga,4,Bronowice Małe,2018-07-31 04:13:00,6.352185e+18,6351558574044455170,STOPPING,0,8.0
2,16,2018-07-31 04:14:12,465,Zajezdnia Nowa Huta,6,Kurdwanów P+R,2018-07-31 04:13:00,6.352185e+18,6351558574044508417,PREDICTED,1,NaN
3,18,2018-07-31 04:14:55,459,Kombinat,6,Kurdwanów P+R,2018-07-31 04:15:00,6.352185e+18,6351558574044508417,STOPPING,0,NaN
4,21,2018-07-31 04:15:59,423,Struga,21,Os.Piastów,2018-07-31 04:15:00,6.352185e+18,6351558574044860674,STOPPING,0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...
72412,2654,2018-08-01 00:19:18,2744,Plac Centralny im. R.Reagana,10,Kopiec Wandy,2018-08-01 00:08:00,6.352185e+18,6351558574044627221,STOPPING,11,22.0
72413,2657,2018-08-01 00:20:32,424,Os.Na Skarpie,10,Kopiec Wandy,2018-08-01 00:09:00,6.352185e+18,6351558574044627221,PREDICTED,11,23.0
72414,2662,2018-08-01 00:22:31,429,Klasztorna,10,Kopiec Wandy,2018-08-01 00:11:00,6.352185e+18,6351558574044627221,PREDICTED,11,24.0
72415,2665,2018-08-01 00:23:43,2548,Suche Stawy,10,Kopiec Wandy,2018-08-01 00:13:00,6.352185e+18,6351558574044627221,PREDICTED,10,25.0
72416,2673,2018-08-01 00:26:58,449,Bardosa,10,Kopiec Wandy,2018-08-01 00:15:00,6.352185e+18,6351558574044627221,PREDICTED,11,26.0

In [7]:
table.columns

Index(['index', 'time_stamp', 'stop', 'stopName', 'number', 'direction',
       'plannedTime', 'vehicleId', 'tripId', 'status', 'delay', 'seq_num'],
      dtype='object')

In [9]:
table1=pd.read_csv("report_07-30.csv")

In [10]:
table1

,index,time_stamp,stop,stopName,number,direction,plannedTime,vehicleId,tripId,status,delay,seq_num
0,14,2018-07-30 04:07:27,459,Kombinat,4,Bronowice Małe,2018-07-30 04:07:00,6.352185e+18,6351558574044454914,STOPPING,0,7.0
1,21,2018-07-30 04:10:05,466,PH,6,Kurdwanów P+R,2018-07-30 04:12:00,6.352185e+18,6351558574044508161,STOPPING,0,NaN
2,30,2018-07-30 04:13:28,423,Struga,4,Bronowice Małe,2018-07-30 04:13:00,6.352185e+18,6351558574044454914,STOPPING,0,8.0
3,34,2018-07-30 04:14:57,465,Zajezdnia Nowa Huta,6,Kurdwanów P+R,2018-07-30 04:13:00,6.352185e+18,6351558574044508161,PREDICTED,1,NaN
4,39,2018-07-30 04:16:47,423,Struga,21,Os.Piastów,2018-07-30 04:15:00,NaN,6351558574044860418,PLANNED,1,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...
72767,2651,2018-07-31 00:08:04,2744,Plac Centralny im. R.Reagana,10,Kopiec Wandy,2018-07-31 00:08:00,6.352185e+18,6351558574044626965,STOPPING,0,22.0
72768,2655,2018-07-31 00:09:35,424,Os.Na Skarpie,10,Kopiec Wandy,2018-07-31 00:09:00,6.352185e+18,6351558574044626965,STOPPING,0,23.0
72769,2659,2018-07-31 00:11:04,429,Klasztorna,10,Kopiec Wandy,2018-07-31 00:11:00,6.352185e+18,6351558574044626965,PREDICTED,0,24.0
72770,2664,2018-07-31 00:12:55,2548,Suche Stawy,10,Kopiec Wandy,2018-07-31 00:13:00,6.352185e+18,6351558574044626965,PREDICTED,0,25.0
72771,2666,2018-07-31 00:13:41,449,Bardosa,10,Kopiec Wandy,2018-07-31 00:15:00,6.352185e+18,6351558574044626965,PREDICTED,0,26.0

In [11]:
table2=pd.read_csv("report_07-27.csv")

In [12]:
df = pd.concat([table, table1,table2], ignore_index=True)

# Upewnij się, że time_stamp to datetime
df["time_stamp"] = pd.to_datetime(df["time_stamp"])

# Wyodrębnij datę + godzinę (bez minut i sekund)
df["datetime_hour"] = df["time_stamp"].dt.floor("H")

# Wybierz potrzebne kolumny
df_filtered = df[["number", "direction", "stopName", "plannedTime", "delay", "datetime_hour"]]

# Grupowanie i liczenie średniej wartości opóźnienia
result = (
    df_filtered
    .groupby(["number", "direction", "stopName", "datetime_hour", "plannedTime"], as_index=False)
    .agg({"delay": "mean"})
)

# Zmień nazwy kolumn na żądane
result.rename(columns={
    "number": "busLineNumber",
    "stopName": "bus stop",
    "delay": "avg_delay"
}, inplace=True)

print(result.head())

   busLineNumber direction    bus stop       datetime_hour  \
0              1  Salwator  Bieńczycka 2018-07-27 04:00:00
1              1  Salwator  Bieńczycka 2018-07-27 05:00:00
2              1  Salwator  Bieńczycka 2018-07-27 05:00:00
3              1  Salwator  Bieńczycka 2018-07-27 05:00:00
4              1  Salwator  Bieńczycka 2018-07-27 05:00:00

           plannedTime  avg_delay
0  2018-07-27 04:51:00        1.0
1  2018-07-27 05:15:00        0.0
2  2018-07-27 05:31:00        1.0
3  2018-07-27 05:41:00        2.0
4  2018-07-27 05:49:00        0.0

/var/folders/mx/x8vndw357ssgxw4rzzkbcgqm0000gn/T/ipykernel_22569/3457576401.py:7: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  df["datetime_hour"] = df["time_stamp"].dt.floor("H")

In [13]:
result

,busLineNumber,direction,bus stop,datetime_hour,plannedTime,avg_delay
0,1,Salwator,Bieńczycka,2018-07-27 04:00:00,2018-07-27 04:51:00,1.0
1,1,Salwator,Bieńczycka,2018-07-27 05:00:00,2018-07-27 05:15:00,0.0
2,1,Salwator,Bieńczycka,2018-07-27 05:00:00,2018-07-27 05:31:00,1.0
3,1,Salwator,Bieńczycka,2018-07-27 05:00:00,2018-07-27 05:41:00,2.0
4,1,Salwator,Bieńczycka,2018-07-27 05:00:00,2018-07-27 05:49:00,0.0
...,...,...,...,...,...,...
215824,52,Os.Piastów,TAURON Arena Kraków Wieczysta,2018-07-31 21:00:00,2018-07-31 21:23:00,1.0
215825,52,Os.Piastów,TAURON Arena Kraków Wieczysta,2018-07-31 21:00:00,2018-07-31 21:43:00,1.0
215826,52,Os.Piastów,TAURON Arena Kraków Wieczysta,2018-07-31 22:00:00,2018-07-31 22:03:00,3.0
215827,52,Os.Piastów,TAURON Arena Kraków Wieczysta,2018-07-31 22:00:00,2018-07-31 22:43:00,1.0
215828,52,Os.Piastów,TAURON Arena Kraków Wieczysta,2018-07-31 23:00:00,2018-07-31 23:03:00,1.0

In [ ]:
# direction->directionId
#buslinenumber->routeId
#bus stop->stopId
#datetime_hour->expectedTime
#plannedTime-actualTime
#avg

In [14]:
result.drop(columns=["datetime_hour"], inplace=True)
result

,busLineNumber,direction,bus stop,plannedTime,avg_delay
0,1,Salwator,Bieńczycka,2018-07-27 04:51:00,1.0
1,1,Salwator,Bieńczycka,2018-07-27 05:15:00,0.0
2,1,Salwator,Bieńczycka,2018-07-27 05:31:00,1.0
3,1,Salwator,Bieńczycka,2018-07-27 05:41:00,2.0
4,1,Salwator,Bieńczycka,2018-07-27 05:49:00,0.0
...,...,...,...,...,...
215824,52,Os.Piastów,TAURON Arena Kraków Wieczysta,2018-07-31 21:23:00,1.0
215825,52,Os.Piastów,TAURON Arena Kraków Wieczysta,2018-07-31 21:43:00,1.0
215826,52,Os.Piastów,TAURON Arena Kraków Wieczysta,2018-07-31 22:03:00,3.0
215827,52,Os.Piastów,TAURON Arena Kraków Wieczysta,2018-07-31 22:43:00,1.0
215828,52,Os.Piastów,TAURON Arena Kraków Wieczysta,2018-07-31 23:03:00,1.0

In [15]:
result.to_csv("historical_data.csv", index=False)